<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.floatingdockxviprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.floatingdockxviprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.floatingdockxviprefs</string>
			<key>key</key>
			<string>hideDockBG</string>
			<key>label</key>
			<string>Hide Dock BG</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.floatingdockxviprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.floatingdockxviprefs</string>
			<key>key</key>
			<string>removeSeparator</string>
			<key>label</key>
			<string>Hide Dock Separator</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.floatingdockxviprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.nahtedetihw.floatingdockxviprefs</string>
			<key>key</key>
			<string>dockStyle</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Recents</string>
				<string>Library</string>
				<string>Both</string>
				<string>None</string>
			</array>
			<key>alignment</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.floatingdockxviprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Number of Dock Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.nahtedetihw.floatingdockxviprefs</string>
			<key>key</key>
			<string>maxDockIcons</string>
			<key>max</key>
			<integer>10</integer>
			<key>min</key>
			<integer>1</integer>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.floatingdockxviprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Number of Recent Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.nahtedetihw.floatingdockxviprefs</string>
			<key>key</key>
			<string>maxRecents</string>
			<key>max</key>
			<integer>10</integer>
			<key>min</key>
			<integer>1</integer>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.nahtedetihw.floatingdockxviprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.floatingdockxviprefs</string>
			<key>key</key>
			<string>disableFloatingDockInApps</string>
			<key>label</key>
			<string>Disable Dock In Apps</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.floatingdockxviprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nahtedetihw.floatingdockxviprefs</string>
			<key>key</key>
			<string>disableFloatingDockInSwitcher</string>
			<key>label</key>
			<string>Disable Dock In Switcher</string>
			<key>PostNotification</key>
			<string>com.nahtedetihw.floatingdockxviprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>FloatingDockXVI 1.8</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>2023 © ETHN</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
