Package: com.nahtedetihw.floatingdockxvi
Name: FloatingDockXVI
Version: 1.3
Architecture: iphoneos-arm
Description: Floating Dock on iOS 16
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends: mobilesubstrate
