Package: com.nahtedetihw.floatingdockxvi
Name: FloatingDockXVI
Version: 2.2
Architecture: iphoneos-arm
Description: Floating Dock on iOS 16
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends: preferenceloader
